img {
  height: auto;
  width: 532px;
  vertical-align: middle;
}

.Card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: rgb(59, 59, 59);
}

.CardItem {
  display: flex;
  padding: 1rem;
}

.CardMeal {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.CardContent {
  padding: 1rem;
  background: linear-gradient(to bottom left, #cccccc 40%, #ebe9e9 100%);
  width: 500px;
}

.MealName {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.MealInfo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.MealSpan {
    font-weight: bold;
}

.MealInstructions {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.MealInstructionsText {
    text-align: center;
    font-size: 1.2rem;
}

@media (min-width: 40rem) {
  .cardItem {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cardItem {
    width: 33.3333%;
  }
}

@media (min-width: 320px) and (max-width: 780px) {
  img {
    width: 100%;
  }
  .CardContent {
    width: 100%;
  }
  .MealContainer {
    width: 90%;
  }
  .InstructionContainer {
    width: 90%;
  }
}

@media (min-width: 720px) and (max-width: 1030px) {
  .MealContainer {
    width: 95%;
  }
  .InstructionContainer {
    width: 95%;
  }
}
