.Search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.SearchInput {
    text-align: center;
    border-radius: 8px;
    height: 30px;
    border: 1px solid #cccccc;
}

.SearchInput:focus {
    outline: none;
}